    body{
        padding: 0;
        margin: 0;
        width: 100% !important;
        overflow-x: hidden !important;
    }
    /* .row
    {
        width: 100% !important;
    } */
   
    @font-face {
        font-family: 'Roca';
        src: url(fonts/roca-one-bold.ttf);
    }
    .page1{
        background-image: url('../assets/page1bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-size:100% 100%; 
        width: 100vw;
        height: 100vh;
        background-color: #0D0149;
    }

    .left
    {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
    .volume
    {
        font-size: 66px;
        font-family: 'Roca';
        color: #FCFAFC;
     
    }
    .specialization
    {
        /* color: #5E17EB; */
        color: #5E17EB;
        font-family: 'DM Sans';
        border-bottom: solid 3px#5E17EB;
        font-size: 24px;
    }
    .line
    {
        border: solid 2px #5E17EB !important;
        width: 15% !important;
        margin-top: -1%;
        font-weight: bolder;
    }
    
    .head
    {
        font-size: 110px;
        font-family: 'Roca';
        color: #FCFAFC;
        line-height: 1;
    }
    
    .span 
    {
        color: #C447E1;
    }
    .buttonbig {
        background: transparent;
        color: #fff;
        padding: 10px 50px;
        border: 2px solid #9650DC;
        border-radius: 30px;
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */ 
    }

    .buttonbig:hover {
        background: #9650DC; /* Change to the desired background color on hover */
        color: #fff; /* to the desired text color on hover */
    }
    /* .custom-hr 
    {
    height: 2px;
    background-color: #EFECFF;
    width: 40%;
    margin-top: 0%;
    display:block;
    height:3px;
    background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(242, 242, 242, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(225,228,226,0) 99%, rgba(229,229,229,0) 100%);
    background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(242, 242, 242, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(225,228,226,0) 99%, rgba(229,229,229,0) 100%);
    background:  linear-gradient(to right, rgba(30,87,153,0) 0%, rgba(242, 242, 242, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(225,228,226,0) 99%, rgba(229,229,229,0) 100%);

    } */
    .page2{
        width: 100vw;
        height: 100vh;  
    }
    
    .page2head
    {
        color: #9650DC;
        font-size: 52px;
        font-family: 'Roca';
        line-height: 1;
    }
    .page2para
    {
        font-family: 'DM Sans';
        color: #1F1F20;
        font-size: 22px;
    }
    
    .page3
    {
        background: url('../assets/page3bg.png');
        background-position: center;
        background-repeat: no-repeat;
        /* background-size:cover; */
        background-size:100% 100%; 
        width: 100vw;
        height: fit-content;
    }
    .page3head
    {
        color: #9650DC;
        font-size: 64px;
        font-family: 'Roca';
        margin-top: 20%;
        line-height: 1;
    }

    .text
    {
        color: #FCFAFC;
        font-family: 'Roca';
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        
    }
    .number 
    {
        color: #C447E1;
        font-family: 'Roca';
        font-size: 55.7px;
        justify-content: center;
    }
    .page4
    {
        background-image: url('../assets/page4bg.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
    }
    .page4head 
    {
        color: #9650DC;
        font-size: 54px;
        font-family: 'Roca';
        margin-top: 3%;
        line-height: 1;

        
    }

    .page4text
    {
        /* color: #FFFFFF; */
        font-size: 17px;
        font-family: 'DM Sans';
        color:#FFFFFF;
        display: flex;
        justify-content: cente;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;
    }
    .page4images
    {
        width: 100%;
        padding: 20px 20px;
    }
    .background4
    {
        background-color:#010E4E ;
        border-radius: 20px;
        border: solid 2px ;
        border: 5px solid #9650DC;
    }
    .middle 
    {
        margin-left: 1%;
    }

    .page5
    {
        width: 100%;
        background-color: #010E4E;
    }
    .page5head
    {
        font-size: 80px;
        font-family: 'Roca';
        color: #FFFFFF;
        justify-content: center;
        line-height: 1;
    }
    .page5image
    {
        width: 50%;
    }
    .page5childimages
    {
        width: 50%;
        padding: 10px 10px;
    }
    .row {
        display: flex;
        justify-content: space-between;
       
    }

    .cardcustom
    {
        flex: 0.3;
        margin: 20px 20px;
        border-radius: 20px;
        margin: 20px; 
        text-align: start;
        height:400px;
        background: linear-gradient(90deg, #994887, #5b40f6);
    }

   
    /* .card img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    } */

    .cardhead {
        font-weight: bold;
        font-size: 24px;
        /* color: #C447E1; */
        color: #010E4E;
        font-family: 'Roca';
        padding-top: 20px;
    }
    .cardText
    {
        color: #FFFFFF;
        font-family: 'DM Sans';
        font-size: 17px;
    }
    
    .bottomcard
    {
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-bottom: 5%;
    }
    .bottomcard
    {
        background: linear-gradient(90deg, #994887, #5b40f6);
    }
    .page5bottomcard
    {
        width: 50%;
        padding: 20px 10px;
    }
    .page5bottomcardhead
    {
        font-weight: bold;
        font-size: 24px;
        /* color: #C447E1; */
        color: #010E4E;
        font-family: 'Roca';
    }
    .page5bottomcardText
    {
        color:#FFFFFF;
        display: flex;
        justify-content: cente;
        flex-direction: row;
        align-items: center;
        font-family: 'DM Sans';
        font-size: 17px;
    }
    .page6
    {
        height: 100vh;
        width: 100vw;
        background-image: url('../assets/page6bg.png') !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-size:100% 100%; 
    }
    .page6head
    {
        text-align: center;
        font-family: 'Roca';
        font-size: 72px;
        color: #FCFAFC;
        background-color: #010E4E;
        border-radius: 20px;
        /* justify-content: center;
        display: flex;
        flex-direction: column; */
        margin-top: 50%;
    }
    .page7
    {
       height: 100vh;
       width: 100vw;
    
    }
   
    .backgroundpage7
    {
        height: 100vh;
        width: 100vw;
        background-image: url('../assets/page7bg.png') !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-size:100% 100%; 
    }

    .page7head
    {
        font-family: 'Roca';
        font-size: 63px;
        color: #9650DC;
        line-height: 1;
        margin-top: 10%;
    }
    .page7para
    {
        font-family: 'DM Sans';
        color: #010E4E;
        font-size: 22px;
    }
    .page7image
    {
        width: 90%;
        margin-top: 20%;
    }
    
    .page8
    {
        background-color: #9F8BFF;
        background-color: #010E4E;
        color: #fff;
        width: 100vw;
        height: fit-content;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .page8head
    {
        font-family: 'Roca';
        font-size: 52px;
        color: #C447E1;
    }
    .box
    {
        background-color: #7C61D4;
        font-size: 22px;
        padding: 10px 10px;
        /* display: flex;
        flex-direction: row;
        align-items: center !important;
        justify-content: center !important; */
        
    }
   .page8para
   {
    font-family: 'DM Sans';
    font-size: 22px;
   }
   .page8leftimage
   {
    width: 100%;
   }
   .page10 {
    /* height: 100vh; */
    width: 100vw;
    background-color: #9F8BFF;
    /* border: 2px solid red; */
    /* background-color: #0D0149; */
    color: #fff;
    /* Flexbox properties */
       /* Vertically centers the content */
}
.footer{
    background-image: url(../assets/footer.png);
    background-position: center center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -7%;
}
.mobile
{
    display: none;
}

@media only screen and (max-width: 576px){
    .desk{
        display: none;
    }
    .mobile{
       
        display: block;
    }
    .page1 {
        /* height: fit-content !important; */
        width: 100vw !important;
        height: 100vh !important;
        background-image:url('../assets/page1mobbg.png') !important;
        text-align: center !important;
        display: flex;
        flex-direction: column;
        width: 100% 100%;
        /* justify-content: center; */
        align-items: center;
    }
    
    .custom-hr {
        height: 2px;
        background-color:#5E17EB ;
        width: 40%;
        margin-top: -4%;
        display: block;
        height: 2px;
        background: linear-gradient(to right, #5E17EB(30,87,153,0) 0%, #5E17EB(242, 242, 242, 1) 50%, #5E17EB(242, 242, 242, 1) 51%, #5E17EB(225,228,226,0) 99%, #5E17EB(229,229,229,0) 100%);
        margin-left: auto;
        margin-right: auto;
    }
    
    .subHeading2 {
        font-family: 'DM Sans';
        font-size: 12px;
        text-align: center;
        color: #5E17EB;
        text-transform: uppercase;
    }
    
    .mobile_nav {
        padding-right: 6%;
    }
    
    .head {
        font-size: 26px;
        text-align: center;
        color: #fff;
        margin-top: 5%;
        font-family: 'Roca';
    }
    
    .HeadingMain {
        color: #9F8BFF;
        font-size: 50px;
        font-family: 'Roca';
        text-align: center;
    }
    
    .button_big {
        width: 100% !important;
        background: transparent;
        color: #fff;
        padding: 7px 20px !important;
        border: 2px solid #9650DC;
        border-radius: 20px;
        transition: background-color 0.3s, color 0.3s;
    }
    .button_big:hover
    {

        background-color: #9650DC;
        color: #fff;
    }
    .row.justify-content-center {
        justify-content: center !important;
        flex-direction: column !important;
    }
   
    .page2{
        height: fit-content !important;
        /* background: linear-gradient(90deg, #9F8BFF, #8f38dd); */
        background-image: url('../assets/page2bg.png');

        color: #fff;
        /* Flexbox properties */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Horizontally centers the content */
        align-items: center;
    }

    .page2 .subHeading3{
        font-family: 'DM Sans' !important;
        font-size: 16px;
        color: #0D0149;
        margin-left: 6%;
        margin-top: 2% !important;
    }
    .HeadingMain2
    {
       width: fit-content;
       font-size: 35px;
       color: #9650DC;
       font-family: 'Roca' !important;
    }
    .page3mobile
    {
        background-color: #010E4E !important;
        height: fit-content;
        padding-bottom: 8%;
        width: 100vw;
    }
    .page3container
    {
        background-color: #FCFAFC;
        border-radius: 10px;
        margin-top: 25% !important;
        padding-bottom: 5%;
        margin-bottom: 15%;
        text-align: left;
    }
    .page3head
    {
        color: #9650DC;
        font-size: 40px;
        font-family: 'Roca';
        /* margin-top: 20%; */
        text-align: center;
        line-height: 1;
        margin: 5%;
    }
    .point
     {
        
     
        font-family: 'Roca';
        font-size: 20px;
        font-weight: bold;
        color: #FCFAFC;
        background-color: #010E4E;
        display: inline-block;
        border-radius: 50px !important;
        width: 100%;
        text-align: left;
       
    }
    .evenpoint
    {
        font-family: 'Roca';
        font-size: 20px;
        font-weight: bold;
        background-color: #9650DC;
        color: #FCFAFC !important;
        display: inline-block;
        padding: 5px 10px; 
        border-radius: 50px !important;
        width: 100%;
        text-align: left;
    }
    .number 
    {
        color: #C447E1;
        font-family: 'Roca';
        font-size: 25px;
        background-color: #FCFAFC;
        border-radius: 50%;
        padding-right: 10px;
        font-weight: bolder;
        padding: 6px 18px; 
    }
    .page4mobile
    {
        background-image: url('../assets/page4bg.png');
        height: fit-content;
        width: 100vw;
    }

    .pagefourtext
    {
        font-family: 'DM Sans';
        font-size: 10px;
        color: #fff;
        padding-left: 20px;
    }
    .page4headmob
    {
        text-align: left;
        margin-left: 8%;
        color: #9650DC;
        font-size: 25px;
        font-family: 'Roca';
    }
    .box{
        border-radius: 10px;
        background-color: #010E4E;
        border: solid 2px #9650DC;
    }
    .page5mobile
    {
        background-color: #010E4E;
    }
    .pagefivehead
    {
        font-family: 'Roca';
        font-size: 25px;
        color: #fff;
    }
    .card{
        background: linear-gradient(90deg, #994887, #5b40f6);
        border-radius: 20px;
   
    }
    .cardhead
    {
        color: #010E4E;
        font-family: 'Roca';
        font-size: 20px;
    }
    .cardText
    {
        font-family: 'DM Sans';
        font-size: 14px;
    }
   
}